# Trees NTA

Trees per unit length of street.

In [3]:
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pyplot as plt
import math
from sklearn import preprocessing


%matplotlib inline

In [4]:
from shapely.geometry import LineString, Polygon, Point, LinearRing
from shapely.ops import transform
from functools import partial
import pyproj

### Data Reading

In [5]:
nta = gp.GeoDataFrame.from_file('../../data/general/nynta_16b/nynta.shp')
trees = gp.GeoDataFrame.from_file('../../data/streets/2015StreetTreeCensusTreeData.geojson')
benches = gp.GeoDataFrame.from_file('../../data/streets/citybench/NYC_CityBench.shp')
pavements = gp.GeoDataFrame.from_file('../../data/streets/StreetPavementRating.geojson')

In [6]:
ct_to_nta = pd.read_csv('../../data/general/2010_Census_Tract_to_Neighborhood_Tabulation_Area_Equivalency_table.csv')

In [7]:
#Generated from arcgis
linker_lion = gp.GeoDataFrame.from_file('../../data/general/linklion/linklion.shp')

In [8]:
treescount = pd.read_csv('../../data/streets/treescount.csv')

### Data Exploration

In [9]:
ct_to_nta.head()

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name
0,Bronx,5,2,31000,3704,BX31,Allerton-Pelham Gardens
1,Bronx,5,2,31200,3704,BX31,Allerton-Pelham Gardens
2,Bronx,5,2,31400,3704,BX31,Allerton-Pelham Gardens
3,Bronx,5,2,31600,3704,BX31,Allerton-Pelham Gardens
4,Bronx,5,2,31800,3704,BX31,Allerton-Pelham Gardens

In [10]:
treescount.head()

    nta   NTA  count
0              24027
1  BK09  BK09   2079
2  BK17  BK17   5275
3  BK19  BK19   1055
4  BK21  BK21   1398

In [11]:
nta.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Area,Shape_Leng,geometry
0,3,Brooklyn,047,BK88,Borough Park,54005019.0709,39247.228028,"POLYGON ((990897.9000244141 169268.1207885742,..."
1,4,Queens,081,QN52,East Flushing,29454380.0175,25843.364934,"POLYGON ((1041061.948242188 215429.4609985352,..."
2,4,Queens,081,QN48,Auburndale,34164217.6495,32446.878764,"POLYGON ((1046392.971191406 210169.7536010742,..."
3,4,Queens,081,QN51,Murray Hill,52488277.2938,33266.904732,"POLYGON ((1038593.459228516 221913.3550415039,..."
4,4,Queens,081,QN27,East Elmhurst,19726846.0178,19816.712339,"POLYGON ((1022728.274841309 217530.8084106445,..."

In [279]:
lin-----lion.head()

,ArcCenterX,ArcCenterY,BOE_LGC,BikeLane,BoroBndry,Carto_Display_Level,ConParity,CurveFlag,FCC,FDNYID,...,ToRight,TrafDir,TrafSrc,Twisted,XFrom,XTo,YFrom,YTo,geometry,length
0,0,0,1,,,None,,,,,...,716,T,DOT,,1010964,1011265,241812,241555,LINESTRING (-73.9034682815071 40.8303620794707...,LINESTRING (-5721500.027961497 10249394.262910...
1,0,0,1,,,None,,,,,...,99,A,DOT,,1011577,1011335,255024,255164,"LINESTRING (-73.901202101452 40.8666213684178,...",LINESTRING (-5713601.216451461 10247055.556509...
2,0,0,1,,,None,,,,,...,1084,W,DOT,,1011601,1011786,239640,240230,LINESTRING (-73.9011781129234 40.8243971910923...,LINESTRING (-5722839.775339834 10249336.092523...
3,0,0,1,,,None,,,,,...,0,W,DOT,,1011601,1011786,239640,240230,LINESTRING (-73.9011781129234 40.8243971910923...,LINESTRING (-5722839.775339834 10249336.092523...
4,0,0,1,,,None,,,,,...,4664,T,DOT,,1009974,1009974,264857,265527,"LINESTRING (-73.9069580625364 40.893616230432,...",LINESTRING (-5707620.114578055 10246550.255027...

In [3]:
nta.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,OBJECTID,geometry
0,3,Brooklyn,047,BK88,Borough Park,1,"POLYGON ((-73.9760507905698 40.6312841471042, ..."
1,4,Queens,081,QN52,East Flushing,2,"POLYGON ((-73.79493384594591 40.7578063026709,..."
2,4,Queens,081,QN48,Auburndale,3,"POLYGON ((-73.7757397458527 40.7433339175923, ..."
3,4,Queens,081,QN51,Murray Hill,4,"POLYGON ((-73.8037916164017 40.7756183875692, ..."
4,4,Queens,081,QN27,East Elmhurst,5,"POLYGON ((-73.8610986491861 40.7636727490283, ..."

In [4]:
trees.head()

,address,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,cb_num,cncldist,...,tree_dbh,tree_id,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode
0,45 DUPONT STREET,216486,3056300,3,Brooklyn,No,No,No,301,33,...,4,101233,No,No,No,Volunteer,995754.899878,207355.752989,Brooklyn,11222
1,2 CLAY STREET,216486,3056300,3,Brooklyn,No,No,No,301,33,...,4,101234,No,No,No,Volunteer,995747.63677,207412.792245,Brooklyn,11222
2,2 CLAY STREET,216486,3056300,3,Brooklyn,No,No,No,301,33,...,4,101235,No,No,No,Volunteer,995743.885137,207442.254128,Brooklyn,11222
3,237 FRANKLIN STREET,216291,3056300,3,Brooklyn,Yes,No,No,301,33,...,15,101400,No,No,No,Volunteer,995653.777377,207228.768335,Brooklyn,11222
4,237 FRANKLIN STREET,216291,3056300,3,Brooklyn,Yes,No,No,301,33,...,18,101401,No,No,No,Volunteer,995616.258095,207224.169263,Brooklyn,11222

In [5]:
trees.columns

Index([   u'address',   u'block_id',    u'boro_ct',   u'borocode',
         u'boroname', u'brch_light', u'brch_other',  u'brch_shoe',
           u'cb_num',   u'cncldist', u'created_at',   u'curb_loc',
         u'geometry',     u'guards',     u'health',   u'latitude',
        u'longitude',        u'nta',   u'nta_name', u'root_grate',
       u'root_other', u'root_stone',   u'sidewalk', u'spc_common',
        u'spc_latin',   u'st_assem',  u'st_senate',      u'state',
           u'status',    u'steward', u'stump_diam',   u'tree_dbh',
          u'tree_id', u'trnk_light', u'trnk_other', u'trunk_wire',
        u'user_type',       u'x_sp',       u'y_sp',   u'zip_city',
          u'zipcode'],
      dtype='object')

In [6]:
benches.head()

,Address,BID,BenchID,Borough,Bus_Route,Category,ComDist,Geocode_Ad,Installati,SiteID,Street,Type,X_Street,geometry
0,2900 Broadway,Not Applicable,1594,1,Not Applicable,Municipal Facilities,109,2900 Broadway,2015-06-01,2551,Broadway,backed,West 113th Street & West 114th Street,POINT (993908.7933345139 232934.5870020092)
1,112 East 96th Street,Not Applicable,571,1,Not Applicable,Municipal Facilities,108,112 East 96th Street,2015-06-01,2555,East 96th Street,backed,Park Avenue & Lexington Avenue,POINT (997522.3842044175 225738.8202255815)
2,449 West 14th Street,Not Applicable,1340,1,M11,General,104,449 West 14th Street,2015-06-01,3067,West 14th Street,backless,10th Avenue & 9th Avenue,POINT (982207.0332735032 209561.3289585859)
3,208-11 26th Avenue,Not Applicable,1837,4,Not Applicable,General,407,74 Corporal Kennedy Street,2015-06-02,3071,Corporal Kennedy Street,backed,26th Avenue & Corporal Kennedy Street,POINT (1046565.456065595 216941.4683977515)
4,84-02 Northern Boulevard,Not Applicable,1337,4,Not Applicable,General,403,84-02 Northern Boulevard,2015-06-02,3092,84th Street,backed,84th Street & 85th Street,POINT (1016540.393084347 214617.2181250006)

In [9]:
pavements.head()

,geometry,length,rating_b,rating_date,rating_fy_s,rating_word,segment_id,shape_len,usage_class,width
0,LINESTRING (-74.25393145629884 40.502320647519...,114,0,1899-11-30T00:00:00.000Z,0,NR,9,114.01754251,None,30
1,LINESTRING (-74.25348929042963 40.502351818245...,123,0,1899-11-30T00:00:00.000Z,0,NR,10,123.490890352,None,30
2,LINESTRING (-74.25348929042963 40.502351818245...,999,0,1899-11-30T00:00:00.000Z,0,NR,11,970.48132388,None,30
3,LINESTRING (-74.25272401241558 40.502518196033...,221,0,1899-11-30T00:00:00.000Z,0,NR,12,221.289403271,None,30
4,LINESTRING (-74.25272401241558 40.502518196033...,933,0,1899-11-30T00:00:00.000Z,0,NR,13,932.40173745,None,30

In [10]:
linker_lion[['LBoro','LCT2010','LCT2010Suf',]].head()

   LBoro LCT2010 LCT2010Suf
0      2     149       None
1      2     265       None
2      2     135       None
3      2     135       None
4      2     335       None

### Shapefile CRS

In [13]:
print nta.crs
print benches.crs
print trees.crs
print linker_lion.crs

{u'lon_0': -74, u'datum': u'NAD83', u'y_0': 0, u'no_defs': True, u'proj': u'lcc', u'x_0': 300000, u'units': u'us-ft', u'lat_2': 41.03333333333333, u'lat_1': 40.66666666666666, u'lat_0': 40.16666666666666}
{u'lon_0': -74, u'datum': u'NAD83', u'y_0': 0, u'no_defs': True, u'proj': u'lcc', u'x_0': 300000, u'units': u'us-ft', u'lat_2': 41.03333333333333, u'lat_1': 40.66666666666666, u'lat_0': 40.16666666666666}
{'init': u'epsg:4326'}
{u'lon_0': -74, u'datum': u'NAD83', u'y_0': 0, u'no_defs': True, u'proj': u'lcc', u'x_0': 300000, u'units': u'us-ft', u'lat_2': 41.03333333333333, u'lat_1': 40.66666666666666, u'lat_0': 40.16666666666666}

### Length of streets by NTA

In [11]:
#Convert Census Tract to str and pad with zeros to make it 6 digit
ct_to_nta['2010 Census Tract'] = ct_to_nta['2010 Census Tract'].astype(str)
ct_to_nta['2010 Census Tract'] = ct_to_nta['2010 Census Tract'].apply(lambda x : x.zfill(6))

In [12]:
#Convert Boro Code to string and merge with census tract
ct_to_nta['2010 NYC Borough Code'] = ct_to_nta['2010 NYC Borough Code'].astype(str)
ct_to_nta['BCT2010'] = ct_to_nta['2010 NYC Borough Code'] + ct_to_nta['2010 Census Tract']

In [13]:
linker_lion['LBoro'] = linker_lion['LBoro'].astype(str)
linker_lion['RBoro'] = linker_lion['RBoro'].astype(str)

In [14]:
#Formatting LION to Merge 
linker_lion['LCT2010Suf'].fillna('00', inplace = True) #Replace None
linker_lion['LCT2010Suf'] = linker_lion['LCT2010Suf'].apply(lambda x : x.zfill(2))
linker_lion['LCT2010'].fillna('0000', inplace = True)
linker_lion['LCT2010'] = linker_lion['LCT2010'].apply(lambda x : x.zfill(4))
linker_lion['LCT2010Whole'] = linker_lion['LCT2010'] + linker_lion['LCT2010Suf']

In [15]:
#Adding Borocode to CT
linker_lion['LBoroCT2010Whole'] = linker_lion['LBoro'] + linker_lion['LCT2010Whole']

In [16]:
linker_lion['RCT2010Suf'].fillna('00', inplace = True)
linker_lion['RCT2010Suf'] = linker_lion['RCT2010Suf'].apply(lambda x : x.zfill(2))
linker_lion['RCT2010'].fillna('0000', inplace = True)
linker_lion['RCT2010'] = linker_lion['RCT2010'].apply(lambda x : x.zfill(4))
linker_lion['RCT2010Whole'] = linker_lion['RCT2010'] + linker_lion['RCT2010Suf']

In [17]:
linker_lion['RBoroCT2010Whole'] = linker_lion['RBoro'] + linker_lion['RCT2010Whole']

In [18]:
#Merging LION table w/ census tract to NTA table
linker_lion = linker_lion.merge(ct_to_nta, left_on='LBoroCT2010Whole', right_on='BCT2010', how='inner')

In [21]:
#Selecting only columns needed
linker_lion = linker_lion[['SHAPE_Leng','LCT2010Whole', 'LBoroCT2010Whole', 'RCT2010Whole', 'RBoroCT2010Whole',\
                          'BCT2010', 'Neighborhood Tabulation Area (NTA)Code']]

In [22]:
linker_lion.head()

,SHAPE_Leng,LCT2010Whole,LBoroCT2010Whole,RCT2010Whole,RBoroCT2010Whole,BCT2010,Neighborhood Tabulation Area (NTA)Code
0,396.030947,014900,2014900,018500,2018500,2014900,BX35
1,253.726026,014900,2014900,018500,2018500,2014900,BX35
2,218.414795,014900,2014900,014900,2014900,2014900,BX35
3,586.719482,014900,2014900,015100,2015100,2014900,BX35
4,586.719482,014900,2014900,015100,2015100,2014900,BX35

In [23]:
linker_lion.rename(index=str, columns={'Neighborhood Tabulation Area (NTA)Code':'LNTA'}, inplace=True)

In [24]:
linker_lion = linker_lion.merge(ct_to_nta, left_on='RBoroCT2010Whole', right_on='BCT2010', how='inner')

In [25]:
linker_lion.head()

,SHAPE_Leng,LCT2010Whole,LBoroCT2010Whole,RCT2010Whole,RBoroCT2010Whole,BCT2010_x,LNTA,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name,BCT2010_y
0,396.030947,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
1,253.726026,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
2,52.777042,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
3,49.232051,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
4,229.010197,013500,2013500,018500,2018500,2013500,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500

In [26]:
linker_lion.rename(index=str, columns={'Neighborhood Tabulation Area (NTA)Code':'RNTA'}, inplace=True)

In [27]:
linker_lion.drop('BCT2010_y', axis=1, inplace=True)

In [28]:
linker_lion.rename(index=str, columns={'BCT2010_x':'BCT2010'}, inplace=True)

In [29]:
linker_lion.head()

,SHAPE_Leng,LCT2010Whole,LBoroCT2010Whole,RCT2010Whole,RBoroCT2010Whole,BCT2010,LNTA,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,RNTA,Neighborhood Tabulation Area (NTA) Name
0,396.030947,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
1,253.726026,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
2,52.777042,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
3,49.232051,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
4,229.010197,013500,2013500,018500,2018500,2013500,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose

In [38]:
linker_lion.shape

(155311, 14)

In [43]:
#Grouping by NTA and summing length of street in NTA
linker_lion_rnta = linker_lion[['SHAPE_Leng', 'RNTA']].groupby('RNTA').sum()
linker_lion_lnta = linker_lion[['SHAPE_Leng', 'LNTA']].groupby('LNTA').sum()
linker_lion_nonbound = linker_lion[linker_lion['LNTA'] == linker_lion['RNTA']].groupby('RNTA').sum()

In [44]:
linker_lion_lnta.rename(index=str, columns={'SHAPE_Leng':'LNTA_STREET_LEN'}, inplace=True)
linker_lion_rnta.rename(index=str, columns={'SHAPE_Leng':'RNTA_STREET_LEN'}, inplace=True)
linker_lion_nonbound.rename(index=str, columns={'SHAPE_Leng':'INNER_NTA_STREET_LEN'}, inplace=True)

In [48]:
linker_lion_nonbound.drop(['2010 Census Bureau FIPS County Code','PUMA'], axis=1, inplace=True)

In [98]:
street_len_nta = linker_lion_lnta.merge(linker_lion_rnta, left_index='LNTA', right_index='RNTA')

In [99]:
street_len_nta = street_len_nta.merge(linker_lion_nonbound, left_index='LNTA', right_index='RNTA')

In [100]:
street_len_nta = street_len_nta.merge(treescount, left_index='LNTA',right_on='NTA', how='inner')

In [101]:
street_len_nta

     LNTA_STREET_LEN  RNTA_STREET_LEN  INNER_NTA_STREET_LEN   nta   NTA  count
1       76238.519454     80948.894278          73113.012960  BK09  BK09   2079
2      397331.181701    400877.775389         382066.212407  BK17  BK17   5275
3      144164.194428    146357.012763         135296.033318  BK19  BK19   1055
4      156084.632553    156406.094211         148177.300515  BK21  BK21   1398
5       32386.951439     39425.425799          27842.494681  BK23  BK23    366
6      167826.746182    168141.280004         152176.390049  BK25  BK25   3165
7      132444.955284    136039.478327         123074.315701  BK26  BK26   1117
8      126447.821627    131077.662966         120172.655928  BK27  BK27   1276
9      252898.590130    253792.786706         235818.750311  BK28  BK28   3751
10     206418.709563    205679.911921         190893.330554  BK29  BK29   2637
11     179366.046620    174912.641328         157886.292158  BK30  BK30   3608
12     518496.171414    537994.330130         513886.020753  BK31  BK31   6386
13     238763.540593    254531.314704         228578.216174  BK32  BK32   1635
14     277709.907444    284361.463111         277305.726878  BK33  BK33   3445
15     138012.206972    138688.171601         124889.716469  BK34  BK34   2140
16     205754.073744    201796.227260         188673.241340  BK35  BK35   2702
17     236168.750218    249871.241134         225615.277669  BK37  BK37   5818
18     220799.912785    216956.000638         205434.454062  BK38  BK38   3094
19     103541.325039    104911.125136          91141.559645  BK40  BK40   1819
20      83614.896727     83728.597544          72743.871362  BK41  BK41   2026
21     250572.811339    250693.977929         229444.875836  BK42  BK42   5971
22     184090.490273    183764.638596         169298.257420  BK43  BK43   4826
23     167485.590364    165443.718106         152127.320482  BK44  BK44   3163
24     340020.300372    332318.378908         321346.305534  BK45  BK45   6778
25      87212.789968     86510.647535          75999.645508  BK46  BK46   2293
26     427959.051386    434217.334060         421494.069804  BK50  BK50   6490
27     325404.754275    327742.349919         305994.211442  BK58  BK58   5216
28     169578.843325    163974.877182         148963.686117  BK60  BK60   2479
29     285100.526597    283274.233444         264541.153491  BK61  BK61   4402
30     106577.978865     97420.058413          86028.368097  BK63  BK63   2222
..               ...              ...                   ...   ...   ...    ...
164    134377.218711    138220.165463         125616.910993  QN60  QN60   1788
165    247493.784628    245824.293301         225889.843521  QN61  QN61   2781
166    159854.142795    162777.105290         147148.284057  QN62  QN62   2692
167    182917.179425    184743.892327         169380.603628  QN63  QN63   2699
168    231795.209966    228922.657225         217866.114303  QN66  QN66   3515
169    132004.685235    134728.971182         122935.891969  QN68  QN68    876
170    231968.692058    228757.031537         213368.107862  QN70  QN70   3209
171     85621.097423     88083.491356          80070.889813  QN71  QN71    915
172    391918.395066    390625.321142         375056.038237  QN72  QN72   4460
173    251148.609631    250647.076137         234414.603389  QN76  QN76   4328
174    544038.410000    544477.716630         519350.204431  QN98  QN98     12
175    826007.241935    815242.387290         722392.542532  QN99  QN99    462
176    533472.323238    523088.081369         507752.766828  SI01  SI01  13709
177    844337.839265    864489.789070         816251.050439  SI05  SI05   6416
178    334634.156295    347432.955175         319640.324798  SI07  SI07   5069
179    190030.635117    185446.471128         169588.862952  SI08  SI08   2416
180    458884.683699    458970.449687         448092.703059  SI11  SI11   7225
181    267910.684411    294986.107439         267910.684411  SI12  SI12   2320
182    246162.447954    234704.536842         225508.731992  SI14  SI14   2823
183    275846.596355    290747.977064         263699.714796  SI22  SI22   2833
184    525413.693236    519995.751246         482635.907701  SI24  SI24   4893
185    266756.691370    268990.443948         251702.147374  SI25  SI25   3968
186    298353.681985    301707.877443         285060.302599  SI28  SI28   2078
187    281048.618257    302532.423431         274508.211095  SI32  SI32   8530
188    212926.974181    204099.500718         187858.471014  SI35  SI35   3842
189    283289.934259    270891.149408         261919.858161  SI36  SI36   4552
190    267936.680703    262261.821218         250650.321571  SI37  SI37   2717
191    273304.612958    265730.537032         256937.115470  SI45  SI45   5037
192    224775.106353    215279.520740         203891.748794  SI48  SI48   7139
193    429550.577321    408341.005366         399605.140120  SI54  SI54   9852

[193 rows x 6 columns]

In [102]:
street_len_nta['NTA_STREET_LEN'] = street_len_nta['LNTA_STREET_LEN'] + street_len_nta['RNTA_STREET_LEN'] - street_len_nta['INNER_NTA_STREET_LEN']

In [103]:
street_len_nta['TREES_PER_UNIT_LENGTH'] = street_len_nta['count'] / street_len_nta['NTA_STREET_LEN']

In [104]:
std_scaler = preprocessing.StandardScaler()
street_len_nta['STD_TREES_PER_UNIT_LENGTH'] = std_scaler.fit_transform(street_len_nta['TREES_PER_UNIT_LENGTH'])

In [487]:
street_len_nta.rename(index=str, columns={'NTA':'NTACode'}, inplace=True)

In [489]:
street_quality_indicator = street_len_nta[['NTACode','STD_TREES_PER_UNIT_LENGTH']]

In [491]:
street_quality_indicator.to_csv('StreetTreesIndicator.csv')

In [107]:
street_len_nta[['NTA_STREET_LEN','NTA']].to_csv('../../data/streets/StreetLenNTA.csv')